@import url('https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800');

* {
  box-sizing: border-box;
}
body {
  background: #2babe2;
  min-height: 100vh;
  display: flex;
  font-weight: 400;
  font-family: 'Fira Sans', sans-serif;
}

body, html, .App, #root, .auth-wrapper {
  width: 100%;
  height: 100%;
  margin: auto;
}

h1,h2,h3,h4,h5,h6,label,span {
  font-weight: 500;
  font-family: 'Fira Sans', sans-serif;
}

ul {
  list-style-type: none;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.auth-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.auth-inner {
  width: 450px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.auth-wrapper .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

.auth-wrapper h3 {
  text-align: center;
  margin: 0;
  line-height: 1;
  padding-bottom: 20px;
}

.custom-control-label {
  font-weight: 400;
}

.forgot-password,
.forgot-password a {
  text-align: right;
  font-size: 13px;
  padding-top: 10px;
  color: #7f7d7d;
  margin: 0;
}

.forgot-password a {
  color: #167bff;
}


.body-content{
  margin: 100px auto;
  max-width: 85%;
}

.navbar{
  padding: 0 5rem 0 5rem;
  justify-content: space-around;
}

.navbar-collapse{
  justify-content: flex-end;
}

.navbar-nav{
  font-family: lato;
  font-size: 16px;
  font-weight: 900;
}
.sidebar{
  background-color: white;
}

.nav-link{
  color: #2babe2 !important;
}

.active{
  color: #f04e98 !important;
}

.btn-primary
{
  background-color: #f04e98 !important;
  border-color: #f04e98 !important;
}
.btn-primary:focus
{
  box-shadow: none;
}

.btn-outline-primary{
  color: #2babe2 !important;
  border-color:#2babe2 !important
}

.btn-outline-primary, .primary-nav
{
  border: solid 2px;
  font-weight: 900;
  font-size: 14px;
}
.btn-outline-primary:hover
{
  color:white!important;
  background-color:#2babe2 !important;
}

.primary-nav:hover
{
  color:#f04e98!important;
  background-color: white!important;
}

.blankBox{
  height: 60px;
  background-color: white;
  max-width: 165vh;
  margin: auto
}

.card{
  width: 100%;
  margin: auto;
}

.fetching{
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.5);
  z-index: 1000;
  display: flex;
  color: #FFF;
  font-size: 5em;
  justify-content: center;
  align-items: center;
}
.spinner{
  animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}